@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
a {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: larger;
	color: azure;
	text-align: center;
}
.nav-item {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
	background-color: rgb(226, 58, 58);
}

.btn-success {
	font-family: 'Poppins', sans-serif;
	color: rgb(255, 255, 255);
	background-color: rgb(226, 58, 58);
	border-color: rgb(226, 58, 58);
}

.jumbotron {
	color: rgb(22, 21, 21);
	padding: 100px 25px;
	font-family: Montserrat, sans-serif;
}

.carousel-item {
	height: 100%;
	min-height: 600px;
	background: no-repeat center center scroll;
	background-size: cover;
}

.carousel-inner::after {
	content: '';
	padding-bottom: 30px;
}

.footer {
	color: white;
	height: 30px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.bigger {
	padding-top: 30px;
	padding-bottom: 30px;
}
button,
input {
	font-family: 'Poppins', sans-serif;
}
